<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css_bootstrap') }}" />
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        <script src="{{ asset('js_jquery') }}" type="text/javascript"></script>
        <script src="{{ asset('js_bootstrap') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
